.lookup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  text-align: center;
  margin: 10px -15px;
}
.form-field {
  flex: 0 0 auto;
  margin: 0 15px !important;
}
.section-header {
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
}
